/*
--------------------------------------------------
    Text List Component
-------------------------------------------------- 
*/

//------------------------------------------------
//  Component Variables
//

// XS Breakpoint 
$xs_text_list_font_size: 14px;

// SM
$sm_text_list_font_size: 14px;

// MD
$md_text_list_font_size: 16px;

// LG
$lg_text_list_font_size: 18px;

//------------------------------------------------
//  Default Styling
//
.text-list-component{

	@extend .list;

	.list-item{
		padding: 20px 40px 20px 40px;
		display: block;

		transition: background-color .25s ease;

		// Hover Effect
		&:hover{
			background-color: rgb(229, 229, 229);

		}
	}
}

/*
    Responsive (mobile first)
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px
--------------------------------------------------
*/

/* SM Phone */
@media(min-width: $breakpoint_sm){
    
}
/* MD Tablet */
@media(min-width: $breakpoint_md){
    
}
/* LG Desktop */
@media(min-width: $breakpoint_lg){
    
}