{{> background-start }}
<!-- Text List Component -->
<div class="component text-list-component {{ component_class }}">
	
	{{#list_items}}
	{{#if content_button_label }}
	<a href="#" class="list-item">
    
	    {{> textBasic }}

	</a>
	{{else}}
	<div class="list-item">
    
	    {{> textBasic }}

	</div>
	{{/if}}
	{{/list_items}}

</div>
{{> background-end }}