<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>

    <meta charset="UTF-8">
    <title>{{pagetitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MAIN stylesheet -->
    <link href="../../css/pagelibs.bundle.css"  rel="stylesheet" type="text/css" />

    <!-- CQ author Check -->
    <script type="text/javascript" src="../../js/editmode.js"></script>

    <!-- Modernizer -->
    <script type="text/javascript" src="../../js/modernizr.js"></script>

    <!-- jQuery in AEM -->
    <script type="text/javascript" src="../../../../node_modules/jquery/dist/jquery.min.js"></script>

</head>
<body>

	<div class="site-wrapper">

        <div class="demo-header">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6">
                        <h1>Component Example</h1>
                    </div>
                    <div class="col-sm-6">
                        <ul class="nav nav-pills navbar-right">
                            <li role="presentation"><a href="../pages/list_pages.html">Page Examples</a></li>
                            <li role="presentation"><a href="../docs/list_docs.html">Component Examples</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

		<!-- CONTENT -->
    	<div class="site-content">

		{% body %}

		</div>

	</div>

    <!-- MAIN JS - for production use aem.js -->
    <script type="text/javascript" src="../../js/pagelibs.bundle.js"></script>

    <!-- Prototype JS - with code highlight lib -->
    <!--<script type="text/javascript" src="../../js/prototype.bundle.js"></script>-->
    <!--<script>hljs.initHighlightingOnLoad();</script>-->

</body>
</html>
