<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>

    <meta charset="UTF-8">
    <title>{{pagetitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../../img/content/favicon.png">

    <!-- MAIN stylesheet -->
    <link href="../../css/pagelibs.bundle.css"  rel="stylesheet" type="text/css" />

    <!-- CQ author Check -->
    <script type="text/javascript" src="../../js/editmode.js"></script>

    <!-- Modernizer -->
    <script type="text/javascript" src="../../js/modernizr.js"></script>

</head>
<body>

	<div class="site-wrapper">

		<!-- CONTENT -->
    	<div class="site-content">

		{% body %}

		</div>


	</div>

    <!-- jQuery in AEM -->
    <script type="text/javascript" src="../../../../node_modules/jquery/dist/jquery.min.js"></script>

    <!-- MAIN JS - for production use aem.js -->
    <script type="text/javascript" src="../../js/pagelibs.bundle.js"></script>

</body>
</html>
