//--------------------------------------------------
//    Layout
//--------------------------------------------------
$breakpoint_xs:					$screen-xs-min;
$breakpoint_sm: 				$screen-sm-min;
$breakpoint_md: 				$screen-md-min;
$breakpoint_lg: 				$screen-lg-min;
$breakpoint_xl: 				1400px;

//--------------------------------------------------
//    Header
//--------------------------------------------------
$header_height: 				140px;
$header_height_mobile: 			70px;

//--------------------------------------------------
//    Footer
//--------------------------------------------------


//--------------------------------------------------
//    Color
//--------------------------------------------------


$client_primary: 				#e51b24;
$client_secondary: 				#3a99d7;



$dark_grey: 					#222222;
$grey: 							#999999;
$light_grey: 					#efefef;