---
pagetitle: Text Image
published: true
layout: doc
pagetype: banners
pagedescription: 
order: 70
---

<!-- Background Component -->
<section class="background-component vert-pad-sm">
    <div class="container">

		<h2>{{pagetitle}}</h2>
		<span class="demo-subtitle">component</span>

	</div>
</section>

{{#with doc_textImage }}

{{> demo_divider demo1 }}
{{> textImage textImageData1 }}

{{> demo_divider demo2 }}
{{> textImage textImageData2 }}

{{> demo_divider demo3 }}
{{> textImage textImageData3 }}

{{> demo_divider }}

{{/with}}