---
pagetitle: Image
published: true
layout: doc
pagetype: base
pagedescription: 
order: 11
---

<!-- Background Component -->
<section class="background-component vert-pad-sm">
    <div class="container">

		<h2>{{ pagetitle }}</h2>
		<span class="demo-subtitle">component</span>

	</div>
</section>

{{#with doc_image }}

{{> demo_divider demo1 }}

{{> background-start bgCompSample1 }}
{{> image imageData1 }}
{{> background-end bgCompSample1 }}

{{> demo_divider demo2 }}

{{> background-start bgCompSample2 }}
{{> image imageData2 }}
{{> background-end bgCompSample2 }}

{{> demo_divider demo3 }}

{{> background-start bgCompSample3 }}
{{> image imageData3 }}
{{> background-end bgCompSample3 }}

{{> demo_divider demo4 }}

{{> background-start bgCompSample4 }}
{{> image imageData4 }}
{{> background-end bgCompSample4 }}

{{> demo_divider demo5 }}

{{> background-start bgCompSample5 }}
{{> image imageData5 }}
{{> background-end bgCompSample5 }}

{{> demo_divider }}

{{/with}}