---
pagetitle: Text Image
layout: doc
---

<!-- Background Component -->
<section class="background-component vert-pad-sm">
    <div class="container">

		<h2>{{pagetitle}}</h2>

	</div>
</section>

{{#with doc_text-image }}

{{> background-start textImageData}}
    {{> text-image textImageData}}
{{> background-end textImageData}}

{{/with}}
