{{> background-start }}
<!-- Text Image Component -->
<div class="component text-image-component {{ component_class }}">
	
	<div class="row">

		<!-- Image Col -->
	    <div class="col-sm-6">

	    	{{> image }}

	    </div>

	    <!-- Text Col -->
	    <div class="col-sm-6">

	        {{> textBasic }}

	    </div>

	</div>

</div>
{{> background-end }}