---
pagetitle: Page Templates
published: true
layout: list
pagedescription: Test Description
---

<!-- Background Component -->
<section class="background-component vert-pad-sm">
    <div class="container">

        <h2>Page Templates</h2>
        
        <div class="table-responsive table-index">
            <table class="table">
                <colgroup>
                    <col class="col-xs-3">
                    <col class="col-xs-3">
                    <col class="col-xs-4">
                    <col class="col-xs-2">
                </colgroup>

                <thead>
                    <tr>
                        <th colspan="4"><h4>Basic</h4></th>
                    </tr>
                </thead>
                <tbody>
                    {{#listTemplates 'basic' 'page'}}{{/listTemplates}}
                </tbody>
                
            </table>
        </div>

    </div>
</section>
