/*
--------------------------------------------------
    Text Image Component
-------------------------------------------------- 
*/

//------------------------------------------------
//  Component Variables
//

// XS Breakpoint 
$text_image_title_padding: 15px 15px;

// SM Breakpoint 
$sm_text_image_title_padding: 30px 15px;

// MD Breakpoint 
$md_text_image_title_padding: 50px 15px;

// LG Breakpoint 
$lg_text_image_title_padding: 100px 15px;


//------------------------------------------------
//  Default Styling
//
.text-image-component{
	overflow: hidden;

	padding: $text_image_title_padding;

	//------------------------------------------------
	//	Compopnent Behaviour Classes
	//
	&.hide-image-mobile{
		.image-col{
			display: none !important;
		}
	}
	&.hide-image-tablet{
		.image-col{
			display: none !important;
		}
	}

	//------------------------------------------------
	//  Component Behaviour in Container Components
	//
		
}

/*
    Responsive (mobile first)
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px
--------------------------------------------------
*/

	

/* SM Breakpoint */
@media(max-width: ($breakpoint_sm - 1 )){
    .text-image-component{

	}
}

/* XS Breakpoint */
@media(min-width: $breakpoint_xs){

}

/* SM Breakpoint */
@media(min-width: $breakpoint_sm){
    .text-image-component{
		padding: $sm_text_image_title_padding;
    }
}

/* MD Breakpoint */
@media(min-width: $breakpoint_md){
    .text-image-component{
		padding: $md_text_image_title_padding;
    }
}

/* LG Breakpoint */
@media(min-width: $breakpoint_lg){
    .text-image-component{
		padding: $lg_text_image_title_padding;
    }
}